version: '3.7'
services:
  nginx:
    image: myngixn
    ports:
    - "8080:80"
    environment:
      app-url01: www.test.com
      app-url02: www.mixwheel.com
    networks:
      - my-networks
    deploy:
#      placement:
#        constraints:
#          - node.role == manager
      resources:
        limits:
          cpus: '0.50'
          memory: 50M
        reservations:
          cpus: '0.25'
          memory: 20M
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
      update_config:
        parallelism: 2
        delay: 10s
        order: stop-first

networks:
  my-networks:
    driver: overlay
